.create-post-container {
  display: flex;
  height: calc(100vh - 40px); /* Avoid full viewport scroll */
  width: calc(100% - 250px); /* Sidebar width adjustment */
  margin-left: 220px; /* Prevent overlapping with sidebar */
  padding: 20px;
  box-sizing: border-box;
  gap: 20px; /* Add space between containers */
}
  
  .main-content {
    flex: 1;
    display: flex;
  }
  .post-preview-area{
    width: 50%;
  }