/* Settings Page Styling */
.settings-container {
    width: 85vw;
    margin: 5vh 0px 0px auto;
    padding: 4vh;
    background: #ffffff;
    text-align: center;
  }
  
  .settings-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 2vh;
  }
  
  .settings-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
  }
  
  .settings-description {
    font-size: 1.2rem;
    color: #666;
    max-width: 60%;
    text-align: center;
  }
  
  .settings-btn {
    background: #6359e9;
    color: #ffffff;
    width: 60%;
    padding: 1vh 2vw;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .settings-btn:hover {
    background: #5046d7;
  }
  